.cart0{
    border: 2px solid black;
   
}
.cart{
    display: block;
    width: 97%;
    z-index: 10;
    height: 10rem;
    background-color: white;
    margin: 1rem 0.7rem;
    padding-top: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}