.addressButton{
    background-color:#FF3395;
    border:none;
    height:50px;
    width:75%;
    border-radius:10px;
    color:white;
    margin-top:2%;

}
.heading{
    color:#FF3395;
  /* 31, 35, 0.15) 0px 0px 0px 1px; */ 
}
.box{
    /* border:1px solid black; */
    /* width:60%; */
    margin-right:35%;
/* height:40%; */
    margin-left:40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:3%;
    margin-top:2%;
}
