.first-img{
    width:100%;
    /* height:40px; */
    margin-top:-1%;
    /* margin-bottom:5%; */
}
.first-img1{
    width:100%;
    /* height:40px; */
    margin-top:1%;
}
.first-img2{
    width:100%;
    /* height:40px; */
    margin-top:1%;
}
.main-box{
    display:flex;
    width:100%;
   
   background-color: #FF3395;
    margin-top:-1%;

    
}
.small-img
{
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid black; */
    /* width:100%; */
    /* height:50px; */
    /* grid-gap:15%; */
        /* margin-left:1%; */

}
/* //card */

.small-img1{
    grid-template-columns: repeat(3,1fr);
    /* display:grid; */
    /* width:90%; */
    margin-left:5%;
}
.main-box1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #FF3395;
margin-top:-0.4%;
    width:100%;
    grid-gap:2%;
    /* margin-bottom:20%; */
   
    
}
.sub-main{
    grid-template-columns: repeat(3,1fr);
    display:grid;
    width:100%;
    grid-gap:2%;
    margin-left:10%;


}
.sub-main1{
    grid-template-columns: repeat(4,1fr);
    display:grid;
    width:100%;
    grid-gap:-5%;
    margin-left:2%;


}


.image-carousel{
    width:100%;
    
}
.carousel2{
    width:100%;
    margin-bottom: 1%;
    
}
.carousel-space{
    margin-bottom: 1%;
}
.influcer-img{
    width:100%;

}
.influncer-heading{
   
    background-color: #d0f1f8;
     margin-top:-0.4%;
     margin-bottom: 1%;
     /* height:30%; */
    
}
.sub-influncer{
    grid-template-columns: repeat(4,1fr);
    display:flex;
    margin-left:6%;
    grid-gap:3%;
  
}
.products{
    width:100%;
}
.HouseOfNykaa{
    display:flex;
    margin-left:20%;
    /* margin:1%; */
}
.sub-House{
    margin:1%;
    display:flex;
    /* padding:1px; */
    grid-gap:3%;
}
.FantasticOfNykaa{
    display:flex;
    width:100%;
    background-color: rgb(182, 243, 243);
    margin-top:-2%;
}
.sub-fantastic{
    display:flex;
    margin-left:9%;
    grid-gap:2%;
    margin-top:2%;

}
.buy-img{
    margin-top:2%;
    width:100%;
    margin-bottom:2%;
}
.slider-img{
    width:100%;
}