.mainDiv{
    display: flex;
    height: 40px !important;
    column-gap: 60%;
    background-size: cover !important;
    background-color: #fc2779;
    background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg);
    background-repeat: no-repeat;
    background-position: center center;    
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 843px) {
    .mainDiv{
        column-gap: 2px;
    }
  }



  