body{
    background-color: #f3f3f3;
    padding: 70px 10px 10px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 28vw;
    min-width: 300px;
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 10vh;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    border: 0.1px solid rgba(0, 0, 0, 0.2);
}

.text{
    font-size: 16px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.anchor{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.logReg{
    width: 100%;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    margin-right: 10px;
}

.centerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
}

.googleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 550;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.6);
    background-color: rgb(243, 243, 243);
}